/*
#082032
#2C394B
#334756
#FF4C29
*/

body {
  font-family: Arial;
  background-color: rgb(30, 31, 34);
  color: rgb(242, 243, 245);
}

.app-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  margin: 0.5rem;
  background-color: rgb(49, 51, 56);
}

.visualiser-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.display-container {
  display: flex;
  flex-direction: column;
}

.display-attempts-container {
  display: flex;
  flex: column;
}

.explanation-text {
  border-left: 1px solid;
  padding: 5px;
  margin-left: 30px;
  margin-bottom: 20px;
  width: 80%;
}

@media (max-width: 650px) {
  .probability-display {
    display: block;
    text-align: center;
  }

  .app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .probability-container {
    flex-direction: column;
  }
}

.percentage-display {
  font-size: 3rem;
}

.attempts-display {
  font-size: 2rem;
}

.probability-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.probability-display {
  font-size: 2rem;
  margin: 2px 5px;
}
.probability-input-display {
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 10px;
}

.probability-controls {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.probability-input {
  background-color: rgb(49, 51, 56);
  color: rgb(242, 243, 245);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0px;
  min-width: 1.7em;
  margin-left: 5px;
  text-align: center;
  margin-right: 10px;
}
.attempts-input {
  background-color: rgb(49, 51, 56);
  color: rgb(242, 243, 245);
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0px;
  min-width: 1.7em;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.probability-input::-webkit-inner-spin-button,
.probability-input::-webkit-outer-spin-button,
.attempts-input::-webkit-inner-spin-button,
.attempts-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
